In [1]:
#import library 
import pandas as pd
import numpy as np

In [2]:
import os
os.getcwd()

'C:\\Users\\hp'

In [3]:
os.chdir('C:/Users/hp/Desktop/Iteration1')

In [4]:
df1 = pd.read_csv('74speciesforvictoriaDataafteryear2015.csv')
df2 = pd.read_csv('52speciesforvictoriaDataafteryear2015.csv')
df3 = pd.read_csv('4speciesforvictoriaDataafteryear2015.csv')

C:\Users\hp\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (16,19,20,21,22,53,54,55,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df4 = pd.concat([df1,df2,df3])

In [6]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 691194 entries, 0 to 926
Data columns (total 58 columns):
Unnamed: 0                       691194 non-null int64
id                               691194 non-null object
catalogueNumber                  601577 non-null object
taxonConceptLsid                 691090 non-null object
scientificNameOriginal           684503 non-null object
commonNameOriginal               674948 non-null object
scientificName                   691090 non-null object
rank                             691090 non-null object
commonName                       627191 non-null object
kingdom                          690380 non-null object
phylum                           690162 non-null object
class                            690139 non-null object
order                            690042 non-null object
family                           690082 non-null object
genus                            689846 non-null object
species                          683049 non-null object
subspecies                       85715 non-null object
dataResourceID                   691194 non-null object
dataResourceName                 691194 non-null object
institutionID                    840 non-null object
institution                      840 non-null object
collectionID                     840 non-null object
collection                       840 non-null object
licence                          691194 non-null object
institutionCode                  10628 non-null object
collectionCode                   10628 non-null object
locality                         669176 non-null object
latitudeOriginal                 691181 non-null float64
longitudeOriginal                691181 non-null float64
geodeticDatumOriginal            230341 non-null object
latitude                         691181 non-null float64
longitude                        691181 non-null float64
coordinatePrecision              0 non-null float64
coordinateUncertaintyInMetres    39099 non-null float64
country                          691194 non-null object
state                            691194 non-null object
localGovernmentAreas2011         678299 non-null object
IMCRA4Regions                    12984 non-null object
IBRA7Regions                     678384 non-null object
minimumElevationInMeters         626 non-null float64
maximumElevationInMeters         626 non-null float64
minimumDepthInMeters             53 non-null float64
maximumDepthInMeters             53 non-null float64
individualCount                  626225 non-null object
collector                        608336 non-null object
year                             691194 non-null int64
month                            691030 non-null float64
day                              682407 non-null float64
eventDate                        685839 non-null object
verbatimEventDate                149658 non-null object
basisOfRecordOriginal            163695 non-null object
basisOfRecord                    691014 non-null object
occurrenceStatus                 691194 non-null object
sex                              85 non-null object
preparations                     803 non-null object
outlierForLayer                  290 non-null object
taxonomicQuality                 691194 non-null bool
locationQuality                  691181 non-null object
dtypes: bool(1), float64(12), int64(2), object(43)
memory usage: 306.5+ MB

In [7]:
df4.head()

,Unnamed: 0,id,catalogueNumber,taxonConceptLsid,scientificNameOriginal,commonNameOriginal,scientificName,rank,commonName,kingdom,...,eventDate,verbatimEventDate,basisOfRecordOriginal,basisOfRecord,occurrenceStatus,sex,preparations,outlierForLayer,taxonomicQuality,locationQuality
0,166,da893b16-07bb-4ed6-b97a-98e928c69f83,NaN,urn:lsid:biodiversity.org.au:afd.taxon:0a200cc...,NaN,Regent Parrot,Polytelis anthopeplus,species,Regent Parrot,Animalia,...,NaN,NaN,NaN,HumanObservation,present,NaN,NaN,NaN,True,True
1,999,0de938c9-2e79-4b46-b79d-c4c31b5f700b,NaN,urn:lsid:biodiversity.org.au:afd.taxon:0a200cc...,NaN,Regent Parrot,Polytelis anthopeplus,species,Regent Parrot,Animalia,...,NaN,NaN,NaN,HumanObservation,present,NaN,NaN,NaN,True,True
2,1064,f34018b8-5427-4a60-b293-551e9bf74578,URN:CornellLabOfOrnithology:EBIRD:OBS696689847,urn:lsid:biodiversity.org.au:afd.taxon:0a200cc...,NaN,Regent Parrot,Polytelis anthopeplus,species,Regent Parrot,Animalia,...,NaN,NaN,NaN,HumanObservation,present,NaN,NaN,NaN,True,True
3,1066,f2417348-68f2-4cfb-bf65-c5ab33f677eb,URN:CornellLabOfOrnithology:EBIRD:OBS701319296,urn:lsid:biodiversity.org.au:afd.taxon:0a200cc...,NaN,Regent Parrot,Polytelis anthopeplus,species,Regent Parrot,Animalia,...,NaN,NaN,NaN,HumanObservation,present,NaN,NaN,NaN,True,True
4,1067,ef1a50a5-5f52-4294-a798-df628b188076,URN:CornellLabOfOrnithology:EBIRD:OBS459006642,urn:lsid:biodiversity.org.au:afd.taxon:0a200cc...,NaN,Regent Parrot,Polytelis anthopeplus,species,Regent Parrot,Animalia,...,NaN,NaN,NaN,HumanObservation,present,NaN,NaN,NaN,True,True

In [8]:
df4.columns

Index(['Unnamed: 0', 'id', 'catalogueNumber', 'taxonConceptLsid',
       'scientificNameOriginal', 'commonNameOriginal', 'scientificName',
       'rank', 'commonName', 'kingdom', 'phylum', 'class', 'order', 'family',
       'genus', 'species', 'subspecies', 'dataResourceID', 'dataResourceName',
       'institutionID', 'institution', 'collectionID', 'collection', 'licence',
       'institutionCode', 'collectionCode', 'locality', 'latitudeOriginal',
       'longitudeOriginal', 'geodeticDatumOriginal', 'latitude', 'longitude',
       'coordinatePrecision', 'coordinateUncertaintyInMetres', 'country',
       'state', 'localGovernmentAreas2011', 'IMCRA4Regions', 'IBRA7Regions',
       'minimumElevationInMeters', 'maximumElevationInMeters',
       'minimumDepthInMeters', 'maximumDepthInMeters', 'individualCount',
       'collector', 'year', 'month', 'day', 'eventDate', 'verbatimEventDate',
       'basisOfRecordOriginal', 'basisOfRecord', 'occurrenceStatus', 'sex',
       'preparations', 'outlierForLayer', 'taxonomicQuality',
       'locationQuality'],
      dtype='object')

In [9]:
#filtering out the columns required for our database.
df5 = pd.DataFrame(df4,columns=[ 'scientificName','commonName', 'locality','latitude','longitude','eventDate','state','year'])

In [10]:
#check for unique records/ids
df5.shape

(691194, 8)

In [11]:
#dropping duplicates records
df5 = df5.drop_duplicates(subset=[ 'scientificName','commonName', 'locality','latitude','longitude','eventDate','state','year'])

In [12]:
df5.shape

(430307, 8)

In [13]:
df5.isnull().sum()

scientificName       92
commonName        46425
locality          12916
latitude              7
longitude             7
eventDate          1263
state                 0
year                  0
dtype: int64

In [14]:
df5 = df5[df5['year'] == 2019]

In [17]:
df5 = df5[df5['state'] == 'Victoria']

In [18]:
df5.shape

(70409, 8)

In [19]:
df5.isna().sum()

scientificName       8
commonName        9336
locality          2880
latitude             0
longitude            0
eventDate          197
state                0
year                 0
dtype: int64

In [ ]:
#I can see 7 records with no latitude and longitude.

In [20]:
#Firstly I am deleting data which do not have latitude and longitude because that will not serve our goal.
#As our product is location wise.
df5 = df5[df5['latitude'].notnull()]

In [21]:
#checking error in latitude and longitude

In [22]:
#the origin latitude  is negative in Victoria
for index,row in df5.iterrows():
    if row['latitude'] > 0:
        df5.loc[index,'latitude'] *=-1
#the longitude is positive in Victoria
    if row['longitude'] < 0:
        df5.loc[index,'longitude'] *=-1

In [23]:
df5.isnull().sum()

scientificName       8
commonName        9336
locality          2880
latitude             0
longitude            0
eventDate          197
state                0
year                 0
dtype: int64

In [24]:
df5 = df5.dropna(how='any')

In [25]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59105 entries, 955 to 36
Data columns (total 8 columns):
scientificName    59105 non-null object
commonName        59105 non-null object
locality          59105 non-null object
latitude          59105 non-null float64
longitude         59105 non-null float64
eventDate         59105 non-null object
state             59105 non-null object
year              59105 non-null int64
dtypes: float64(2), int64(1), object(5)
memory usage: 4.1+ MB

In [26]:
#df5 is final dataframe for occurence records.

In [ ]:
#Now I can see there are 54491 missing commonnames which needs to be filled as we user will see commonname of specie in UI.
#I will use another file from Department of ENvironment and living to fill that column.
tableaucsv = pd.read_csv('20190821spcs.csv')

In [ ]:
commonnamedf.info()

In [ ]:
commonnamedf = commonnamedf[commonnamedf['Kingdom']=='Animalia']

In [ ]:
commonnamedf = commonnamedf[commonnamedf['VIC']=='Yes']

In [ ]:
commonnamedf.shape

In [ ]:
#No nulls in the data
commonnamedf.isnull().sum()

In [ ]:
commonnamedf = pd.DataFrame(commonnamedf,columns=['Scientific Name','Threatened status'])

In [ ]:
commonnamedf.columns

In [ ]:
commonnamedf['Scientific Name'].nunique()

In [ ]:
#df5.to_csv('C:/Users/hp/Desktop/Iteration1/cleanedfinaldataset.csv',index=False)

In [ ]:
#commonnamedf.to_csv('C:/Users/hp/Desktop/Iteration1/FinalThreatenedStatus.csv',index=False)

In [ ]:
df5['scientificName'].nunique()

In [ ]:
df6 = df5.drop_duplicates(subset=['scientificName','commonName'])

In [ ]:
df7.to_csv('C:/Users/hp/Desktop/Iteration1/occurencedatabase.csv',index=False)

In [ ]:
df9 = df7.iloc[50001:100000]

In [ ]:
df9.to_csv('C:/Users/hp/Desktop/Iteration1/100000.csv',index=False)

In [ ]:
df5.shape

In [ ]:
#filtering out the columns required for our database.
df7 = pd.DataFrame(df5,columns=['scientificName',
       'locality','latitude','longitude','eventDate'])

In [ ]:
df7